@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <a href="https://github.com/rtrunkhill">My Github</a><br />
    <a href="Skepts2gmail.com">Skepts@gmail.com</a><br />
    <abbr title="Phone">Fake Phone:</abbr>
    425.555.0100
</address>

